<div class="repository">
    <p class="repository__name">
      <a href="{{ repository.url }}" title="{{ repository.name }}" target="_blank">
        {{ repository.name }}
      </a>
    </p>
    <div class="repository__footer">
      <p class="repository__badge">
        <img src="{{ getIconByFilter(repository.filter) }}" alt="">
        {{ getVersionByFilter(repository.filter) }}
      </p>
      <a *ngIf="repository.documentationUrl" matTooltip="Documentation"  class="repository__documentation" href="{{ repository.documentationUrl }}" target="_blank">
        <mat-icon>description</mat-icon>
      </a>
      <p class="repository__version">
        {{ repository.version }}
      </p>
    </div>
  </div>