<div class="repository component" >
<p class="repository__name">
    <span class="repository__versions repository__versions--{{ dependency.type }}">{{ getCountObjectKeys(dependency) - 1 }}</span>
    <a href="" target="_blank">
    {{ name }}
    </a>
</p>
<ul class="component_versions">
    <ng-container *ngFor="let v of objectKeys(dependency)">
        <li *ngIf="v !== 'type'" matTooltip="{{getProjectsTooltip(dependency[v]?.projects)}}" >
            <p class="component__frequency">{{ dependency[v].quantity }}</p>
            <p class="component__version">{{ v }}v</p>
        </li>
    </ng-container>
   
</ul>
</div>