<div class="repository component">
    <p class="repository__name">
        <span class="repository__versions repository__versions--{{ dependency.type }}">{{ getCountObjectKeys(dependency.versions) }}</span>
        {{ name }}
    </p>
    <ul class="component_versions">
        <ng-container *ngFor="let v of objectKeys(dependency.versions)">
            <li matTooltip="{{ dependency.versions[v]?.projects.join(' / ') }}">
                <p class="component__frequency">{{ dependency.versions[v].quantity }}</p>
                <p class="component__version">{{ v }}v</p>
            </li>
        </ng-container>
    </ul>
</div>