<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Vendasta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Adoption dashboard</a>
      </li>
    </ul>
  </div>
</nav>
<div class="main container-fluid">
  <h3 class="mt-0">Projects</h3>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h2>Current Global Adoption</h2>
        </div>
        <div class="card-body">
          <div appFrappe [title]="" [data]="graphData.projectsByFilters" [type]="'pie'">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card card__repositories">
        <div class="card-header">
          <h2>{{ projects.length }} Frontend projects</h2>
        </div>
        <div class="card-body">
          <ul class="repositories">
            <li class="repository" *ngFor="let p of projects">
              <p class="repository__name">
                <a href="{{ p.url }}" title="{{ p.name }}" target="_blank">
                  {{ p.name }}
                </a>
              </p>
              <div class="repository__footer">
                <p class="repository__badge">
                  <img src="{{ getIconByFilter(p.filter) }}" alt="">
                  {{ getVersionByFilter(p.filter) }}
                </p>
                <p class="repository__version">
                  {{ p.version }}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h3>Components</h3>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h2>Current Global Adoption</h2>
        </div>
        <div class="card-body">
          <div appFrappe [title]="" [data]="graphData.componentsByFilters" [type]="'pie'">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card card__repositories">
        <div class="card-header">
          <h2>{{ components.length }} Components</h2>
        </div>
        <div class="card-body">
          <ul class="repositories">
            <li class="repository" *ngFor="let c of components">
              <p class="repository__name">
                <a href="{{ c.url }}" title="{{ c.name }}" target="_blank">
                  {{ c.name }}
                </a>
              </p>
              <div class="repository__footer">
                <p class="repository__badge">
                  <img src="{{ getIconByFilter(c.filter) }}" alt="">
                  {{ getVersionByFilter(c.filter) }}
                </p>
                <p class="repository__version">
                  {{ c.version }}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h2>Current Version X Adoption</h2>
        </div>
        <div class="card-body">
          <div appFrappe [title]="" [data]="graphData.componentsByProject" [type]="'bar'">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card card__in-soon">
        <div class="card-header">
          <h2>How often the same library and version is used in different projects? (in soon ...)</h2>
        </div>
        <div class="card-body">
          <div class="repository component" *ngFor="let key of objectKeys(componentsUsedByVersion)" >
            <p class="repository__name">
              <a href="" target="_blank">
                {{ key }}
              </a>
            </p>
            <ul class="component_versions">
              <li class="tooltip" *ngFor="let v of objectKeys(componentsUsedByVersion[key])" [attr.data-tooltip]="getProjectsTooltip(componentsUsedByVersion[key][v].projects)" >
                <p class="component__frequency">{{ componentsUsedByVersion[key][v].quantity }}</p>
                <p class="component__version">{{ v }}v</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2>Libraries usage (bug)</h2>
        </div>
        <div class="card-body">
          <div appFrappe [title]="" [data]="graphData.componentsByVersionAllProjects" [type]="'bar'">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>