<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Vendasta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Adoption dashboard</a>
      </li>
    </ul>
  </div>
</nav>
<div class="main container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h2>Current Global Adoption</h2>
        </div>
        <div class="card-body">
          <div appFrappe 
              [title]="" 
              [data]="dataSet" 
              [type]="'pie'">
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h2>{{ projects.length }} Projects</h2>
        </div>
        <div class="card-body">
          <ul class="repositories">
            <li class="repository" *ngFor="let p of projects">
              <p class="repository__name">{{ p.name }}</p>
              <p class="repository__badge">
                <img src="https://coryrylan.com/assets/images/posts/types/angular.svg" alt="">
                {{ p.version }}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h2>{{ components.length }}  Components</h2>
        </div>
        <div class="card-body">
          <ul class="repositories">
            <li class="repository" *ngFor="let c of components">
              <p class="repository__name">{{ c.name }}</p>
              <p class="repository__badge">
                <img src="https://coryrylan.com/assets/images/posts/types/angular.svg" alt="">
                {{ c.version }}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>