<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Vendasta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Adoption dashboard</a>
      </li>
    </ul>
  </div>
</nav>
<div class="main container-fluid">
  <h2 class="mt-0">Projects</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3>Current Global Adoption</h3>
        </div>
        <div class="card-body">
          <app-pie-chart [data]="graphDataGoogle?.projectsByFilters"></app-pie-chart>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card card__repositories">
        <div class="card-header">
          <h3>{{ projects.length }} Frontend projects</h3>
        </div>
        <div class="card-body">
          <ul class="repositories">
            <li class="repository" *ngFor="let p of projects">
              <p class="repository__name">
                <a href="{{ p.url }}" title="{{ p.name }}" target="_blank">
                  {{ p.name }}
                </a>
              </p>
              <div class="repository__footer">
                <p class="repository__badge">
                  <img src="{{ getIconByFilter(p.filter) }}" alt="">
                  {{ getVersionByFilter(p.filter) }}
                </p>
                <p class="repository__version">
                  {{ p.version }}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h2>Components</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3>Current Global Adoption</h3>
        </div>
        <div class="card-body">
          <app-pie-chart [data]="graphDataGoogle?.componentsByFilters"></app-pie-chart>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card card__repositories">
        <div class="card-header">
          <h3>{{ components.length }} Components</h3>
        </div>
        <div class="card-body">
          <ul class="repositories">
            <li class="repository" *ngFor="let c of components">
              <p class="repository__name">
                <a href="{{ c.url }}" title="{{ c.name }}" target="_blank">
                  {{ c.name }}
                </a>
              </p>
              <div class="repository__footer">
                <p class="repository__badge">
                  <img src="{{ getIconByFilter(c.filter) }}" alt="">
                  {{ getVersionByFilter(c.filter) }}
                </p>
                <p class="repository__version">
                  {{ c.version }}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="dependenciesByVersions" >
      <div class="card">
        <div class="card-header">
          <h3>How often is the same dependency used in different versions?</h3>
          <h4>Tip: Reduce the number of different versions in your projects and maintain consistency</h4>
          <div class="legend">
            <span class="repository__versions repository__versions--good" matTooltip="Good"> 1 - 2 </span>
            <span class="repository__versions repository__versions--warning" matTooltip="It requires attention"> 3 - 5 </span>
            <span class="repository__versions repository__versions--bad" matTooltip="Bad"> 6 - 10 </span>
            <span class="repository__versions repository__versions--terrible" matTooltip="Terrible"> 11+ </span>
          </div>
        </div>
        
        <div class="card-body">
          <div class="repository component" *ngFor="let key of objectKeys(dependenciesByVersions)" >
            <p class="repository__name">
              <span class="repository__versions {{ getClassByDependenciesVersions(getCountObjectKeys(dependenciesByVersions[key])) }}">{{ getCountObjectKeys(dependenciesByVersions[key]) }}</span>
              <a href="" target="_blank">
                {{ key }}
              </a>
            </p>
            <ul class="component_versions">
              <li *ngFor="let v of objectKeys(dependenciesByVersions[key])" matTooltip="{{getProjectsTooltip(dependenciesByVersions[key][v].projects)}}" >
                <p class="component__frequency">{{ dependenciesByVersions[key][v].quantity }}</p>
                <p class="component__version">{{ v }}v</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>