.navbar {
    background-color: $color-gray-light;
    border-bottom: 1px solid $color-gray-400;
    a.navbar-brand, a {
        color: $color-gray-800;
    }
}

.navbar-nav {
    width: 100%;
    .nav-link {
        color: $color-gray-800;
    }
    .navbar-nav-svg {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: text-top;
    }
}
.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin-right: calc($global-gutter/2);
    }
}