.repositories {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    margin-bottom: $global-gutter * 2;
}

.repository{
    border-radius: .5rem;
    border: 1px solid $color-gray-400;
    float: left;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
    width: 140px;
    transition: .18s ease all;
    p {
        transition: .18s ease all;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.14)
    }
}
.repository__name {
    padding-right: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.repository__badge, .repository__version {
    font-size: .7rem;
    img {
        width: .7rem;
    }
}

.repository__documentation, .repository__warning {
    mat-icon {
        width: 14px;
        height: 12px;
        font-size: 14px;
        line-height: 1rem;
    }
}

.repository__warning {
    cursor: pointer;
    mat-icon {
        color: $color-orange;
    }
}

.repository__footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    a {
        height: 15px;
        line-height: 1rem;
    }
}

.component {
    width: 12%;
    min-width: 220px;
}

.component_versions {
    padding: 0;
    margin: 0;
    height: 120px;
    overflow: auto;
    list-style: none;
    p {
        color: $color-gray-600;
    }
    li {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 0.2rem 0.5rem;
        border-radius: 0.3rem;
        &:hover {
            background: $color-teal-light;
            p {
                color: $color-teal-600;
            }
        }
    }
    .component__frequency {
        font-size: 1.2rem;
        font-weight: 700;
        margin-right: .5rem;
    }
    .component__version {
        font-size: 0.9rem;
    }
}

.repository__versions {
    font-weight: bold;
    background: $color-gray-400;
    padding: 0px 4px;
    border-radius: 5px;
    margin: 0;
    display: inline-block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    &.repository__versions--good {
        background: $color-green;
    }
    &.repository__versions--warning {
        background: $color-yellow;
    }
    &.repository__versions--bad {
        background: $color-red;
    }
    &.repository__versions--terrible {
        background: $color-red-dark;
        color: #fff;
    }
}

.repository__icon-design {
    width: 12px;
}