.tooltip {
    display: inline;
    position: relative;
    transition: .18s ease all;
}

.tooltip:hover:after {
    display: flex;
    justify-content: center;
    background: #444444;
    border-radius: 8px;
    color: $color-white;
    content: attr(data-tooltip);
    position: absolute;
    margin: 0px 0 0 80px;
    font-size: 16px;
    padding: 13px;
    width: 320px;
    z-index: 99;
}