:root {
    --color-code-green: $color-green;
    --color-code-yellow: $color-yellow;
    --color-code-purple: $color-purple;
    --color-code-red: $color-red;
    --color-code-blue: $color-blue;
    --color-code-white: $color-white;
}

body, h1, h2, h3, p, a, span, .mat-h1, .mat-headline-5, .mat-typography h1, .mat-h3, .mat-subtitle-1, .mat-typography h3, .mat-h2, .mat-headline-6, .mat-typography h2, svg, svg text {
    font-family: $font-family;
}

body {
    font-size: $font-size;
    color: $color-gray-700;
    background-color: $color-gray-light;
}

h3 {
    color: $color-gray-800;
    margin-top: 2rem;
    margin-bottom: 0rem;
    opacity: 0.7;
}