.main {
    padding: $global-gutter;
}

.legend {
    span {
        margin-right: $global-gutter/2;
    }
}

.navbar-nav {
    width: 100%;
    .nav-link {
        color: $color-white;
    }
    .navbar-nav-svg {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: text-top;
    }
}
.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin-right: $global-gutter/2;
    }
}

.generated {
    color: $color-white;
    font-style: italic;
    font-size: 12px;
    margin-right: $global-gutter/2;
}